nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Zoon
  #navbarNav
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/login') login
      li.nav-item
        a.nav-link(href='/logout') logout
script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")